/* Main */

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /* Prevent body from scrolling */
}

table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: separate;
  margin: 0 auto;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

a.pi:hover {
  color: #59d34e
}


.container {
  display: flex;
  height: 100vh;
}

/* <left table> */
.left-table {
  width: 20%;
  /* this + .right-table.width == 100 */
  position: fixed;
  height: 100%;
  background: #fff;
  overflow: auto;
  padding: 5%;
  /* Padding for the center div withIN the left pane*/
}

#profile-image img {
  width: 75%;
  max-width: 75%;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#profile-text {
  text-align: center;
}

#name {
  font-size: 20px;
}

#title1 {
  padding-top: 5px;
}

#email {
  text-align: center;
  padding-top: 5px;
}

.uniq-font {
  font-family: 'Andale Mono', monospace;
}

.emailpart {
  display: inline;
  text-align: center;
  margin-top: 0;
  color: rgb(118, 118, 118);
  font-family: 'Courier New', Courier, monospace;
}

#emailpart2 {
  color: rgb(153, 27, 30);
}

#emailpart4 {
  color: rgb(230, 179, 0);
}

.tabs {
  display: flex;
  flex-direction: column;
  /* Stacks the tabs vertically */
  gap: 10px;
  margin-top: 10px;
  /* Space between the profile and the tabs */
}

.tabs a {
  padding: 10px 0px;
  background: #fff;
  color: #000;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tabs a:hover {
  /* background: #eee; */
  text-shadow: 0px 0 25px rgb(0, 0, 0);
}

/* </left table> */


/* <right table> */
.right-table {
  flex: 1;
  width: 80%;
  /* + .left-table.width == 100 */
  margin-left: 30%;
  /* .left-table.width + alpha (margin), ie leftmost edge starting point */
  height: 100vh + 1px;
  overflow-y: auto;
  padding: 5%;
  padding-left: 0%;
}

.heading {
  font-size: 22px;
  text-shadow: rgb(77, 77, 77) 0 0 20px;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* text-decoration: black underline; */
}

#introduction {
  text-align: left;
  margin-top: 20px;
}

#intro-standout {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-style: italic;
}

#socialmedia-linktree {
  margin-top: 0px;
  text-align: center;
}

.pic {
  margin-bottom: 5px;
}

.pic_img {
  width: 10px;
  height: 30px;
  filter: brightness(0);
}

.pic_img:hover {
  filter: brightness(0) invert(0.5);
}

.pic .pic_img .text {
  display: inline-block;
}

/* Tooltip Guide: https://tutorialzine.com/2014/07/css-inline-help-tips */
.help-tip {
  display: inline;
  position: relative;
  bottom: 0px;
  left: 0px;
  text-align: center;
  border-radius: 40%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  cursor: default;
  padding: 0px 5px;
}

.help-tip:before {
  content: 'Email';
}

.help-tip:hover p {
  display: block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.help-tip p {
  /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 10px;
  width: 190px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -175px;
  color: #FFF;
  font-size: 14px;
  line-height: 1.4;
}

.help-tip p:before {
  /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #1E2021;
  right: 185px;
  top: -19px;
}

.help-tip p:after {
  /* Prevents the tooltip from being hidden */
  width: 100%;
  height: 40px;
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
}

.img_container {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.img_container img {
  width: 30px;
  height: 30px;
}

.hbar {
  border: 0;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.scrolling {
  position: relative;
  left: -10px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  overflow-y: scroll;
  height: 150px;
}

.scrolling::-webkit-scrollbar-track {
  /* border: 1px solid #000; */
  padding: 2px 0;
  border-radius: 10px;
  background-color: #ccc;
}

.scrolling::-webkit-scrollbar {
  width: 10px;
}

.scrolling::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #e9ecef;
  /* border: 1px solid #000; */
}

#news {
  padding: 10px;
  vertical-align: middle;
}

/* </right table> */

/* <Publications> */
#publications {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
}

.pub-figure {
  padding-left: 20px;
  padding-right: 20px;
  width: 25%;
  vertical-align: middle;
  text-align: center;
}

.pub-description {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 75%;
  vertical-align: middle;
}

#empty-block {
  padding-bottom: 10%;
}

/* </publications> */


/* <service> */

.subheading {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  /* text-decoration: black underline; */
}

.small-empty-block {
  padding-bottom: 3%;
}

.category_years {
  background-color: #35c335;
  color: white;
  display: inline;
  border-radius: 3px;
  font-size: 11pt;
  padding: 1.5px 5px;
  font-weight: 500;
  line-height: 20pt;
}

.subheading-container {
  width: 100%;
  align: center;
  border: 0;
  cellspacing: 0;
  padding-left: 10px;
}

.service-img {
  padding: 20px;
  width: 25%;
  vertical-align: middle;
}

.service-body {
  width: 75%;
  valign: center;
}

.reduce-bottom-padding {
  padding-bottom: 0px;
  margin-bottom: 0px;
}